<script>
    const symptoma_chatbot_elevation = '{SC_ELEVATION_OPTION}'; // z-index, adjust if chatbot is not visible or covers content
    const symptoma_chatbot_height = '{SC_HEIGHT_OPTION}px';   // window height
    const symptoma_chatbot_intro_text = '{SC_INTROTEXT_OPTION}'; // customized welcome message when the conversation starts
    const symptoma_chatbot_width = '{SC_WIDTH_OPTION}px'; // window width
</script>
<script async="" type="text/javascript" src="https://www.symptoma.com/de/chatbot/embed.js">{SC_INTROTEXT_OPTION}</script>